body,html{
    height:100%;
    font-family:'Source Sans Pro', sans-serif !important;

}
/*.container {
    margin-left:0px !important;
    margin-right:0px !important;

}*/
.col-sm-6 h1 {
    position: absolute;
    top: 8px;
    left:30px;
    color:white;
    font-size:25px !important;
    font-weight:600;
}

.col-sm-6 {
    padding-left:30px !important;
}
.col-sm-6 h2{
    margin-top:45px !important;
    font-size:25px !important;
    font-family:'Source Sans Pro', sans-serif !important;
}

img {
    max-height:100%;
    max-width:100%;
}

p{
    font-size:18px !important;
    margin-top:8px !important;
    padding-top:2% !important;
    padding-left:3% !important;
    width:100%;
    padding-right:4% !important;
}

.carousel-caption h3{
    margin-bottom:40px;
}

.col-sm-6 a:link {
    color:gray;
}

.col-sm-6 a:hover{
    color:Maroon !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}





